@media screen and (max-width: 850px) {
    .list {
      width: 50% !important;
      padding-bottom: 25px;
    }
}
.list {
  width: 70%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
  .list-types {
    overflow-x: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 10vh;
    background-color: #3D3D3D;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    p {
      margin-left: 5px;
      margin-right: 5px;
      padding: 10px 15px;
      background-color: whitesmoke;
      border-radius: 5px;
      color: black;
      cursor: pointer;
    }
  }
  button {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 10vh;
    background-color: #3D3D3D;
    border-radius: 5px;
    color: white;
    font-size: x-large;
    cursor: pointer;
  }
}
