@media screen and (max-width: 850px) {
  .main-area {
    .link {
      width: 50% !important;
    }
    .selected-area {
      width: 50% !important;
    }
  }
}
.main-area {
  width: 100%;
  height: 90vh;
  display: flex;
}
