@media screen and (max-width: 850px) {
  .selected-area {
    width: 50% !important;

  }
}
.selected-area {
    width: 30%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  .selected-card {
    width: 100%;
    display: flex;
    flex-direction: column;

    .selected-card-headline {
      background-color: #3d3d3d;
      text-align: center;
      color: white;
      padding: 15px;
      margin: 0px;
    }
    img {
      margin: 5px auto;
      width: 55%;
    }
    .selected-card-types {
      display: flex;
      justify-content: center;
      p {
        margin: 10px 15px;
        background-color: #262626;
        color: white;
        padding: 10px 15px;
        border-radius:10px;
      }
    }

    table {
      thead {
        border: 5px solid black !important;
        font-size: large;
        font-weight: 700 !important;
        th{
          border: 1px solid rgba(0, 0, 0, 0.15);
          margin: 0px;
        }
      }
      tbody {
        td{
          text-align: center;
          border-bottom:1px solid rgba(0, 0, 0, 0.15);
        }
      }

    }
  }
}
